li {
list-style-type : none;
display : inline-block;
text-align : center;
border : 5px solid grey;
border-radius : 10px;
}

img {
height : 150px;
width : auto;
vertical-align : middle;
}

body {
background-image : url("../images/background.jpg");
background-color : black;
background-repeat : no-repeat;
}

h1 {
color : white;
}

ul {
position : absolute;
bottom : 0px;
right : 0px;
}