li {
list-style-type : none;
display : inline-block;
text-align : center;
border : 3px solid dimgrey;
border-radius : 8px;
background-color : rgba(50, 50, 50, 0.75);
}

img {
height : 130px;
width : auto;
vertical-align : middle;
}

body {
background-image : url("../images/background.jpg");
background-color : black;
background-repeat : no-repeat;
}

h1 {
color : white;
}

ul {
position : absolute;
bottom : 0px;
right : 0px;
}